<header tuiNavigationHeader>
  <span tuiNavigationLogo>
      <span tuiFade>A very very long product name</span>
      <tui-badge>Test</tui-badge>
  </span>
  <span tuiNavigationSegments>
  </span>
  <hr/>
  <button
    appearance="secondary-grayscale"
    iconStart="@tui.plus"
    tuiButton
    type="button">
    Create
  </button>
  <button
    iconStart="@tui.bell"
    tuiIconButton
    type="button">
    Notifications
    <tui-badge-notification/>
  </button>
  <button
    iconStart="@tui.ellipsis"
    tuiIconButton
    type="button">
    More
  </button>
  <tui-avatar src="AI"/>
</header>
